/* Основной игровой экран */
#game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Распределение пространства вокруг дочерних элементов */
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box; /* Убедитесь, что padding не изменяет размеры */
}

/* Контейнер для динамически генерирующихся объектов */
#game-objects-container {
  flex-grow: 1; /* Контейнер будет расти и занимать доступное пространство */
  width: 100%;
  background-color: orange; /* Временный цвет для наглядности */
}

/* Контейнер для элементов индикаторов */
#indicators-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: green; /* Временный цвет для наглядности */
}

/* Элементы-индикаторы */
.indicator {
  width: 100px; /* Примерный размер, настраивайте под свои нужды */
  height: 100px;
  background-color: purple; /* Временный цвет для наглядности */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Цвет текста */
  font-size: 1.5em; /* Размер текста */
  cursor: pointer;
}

/* Текстовое поле для таймера обратного отсчёта */
#countdown-timer {
  font-size: 2em; /* Размер шрифта для таймера */
  color: white;
  background-color: brown; /* Временный цвет для наглядности */
  padding: 10px;
  margin-top: 20px; /* Отступ сверху */
}

.clickable{
  background-color: blue;
}

.active{
  color: red;
}