html {
  min-width: 648px;
  min-height: 440px;
  overflow: hidden;
}

.container {
  display: flex;
  width: 100%;
  height: calc(95vh - 120px); /* 95% высоты экрана минус высота шапки */
  justify-content: center;
  align-items: center;
  margin: auto;
  overflow: hidden; 
}

.content-div {
  position: relative;

  display: flex;
  align-items: center; /* Центрирует содержимое по вертикали */
  justify-content: center; /* Центрирует содержимое по горизонтали */

  width: 100%;
  height: 100%;

  background-color: #202020;
  
  user-select: none;
  overflow: hidden; 
}


.warning {
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FFF;
  font-family: 'Kyiv Type';
  background: #0D0D0D;
  width: 100vw;
  height: 100vh;
}

@font-face {
  font-family: 'Kroftsmann', sans-serif;
  src: url('Kroftsmann.ttf'),
  url('fonts.cdnfonts.com/css/kroftsmann');
}

@font-face {
  font-family: 'Shket';
  src: url('Shket.otf') format('opentype'),
  url('fonts.cdnfonts.com/css/shket');
}