/* Основной игровой экран */
#indicator-game-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; /* Распределение пространства вокруг дочерних элементов */
  height: 100%;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box; /* Убедитесь, что padding не изменяет размеры */
}

/* Контейнер для динамически генерирующихся объектов */
#indicator-game-objects-container {
  flex-grow: 1; /* Контейнер будет расти и занимать доступное пространство */
  width: 100%;
  background-color: orange; /* Временный цвет для наглядности */
}

/* Контейнер для элементов индикаторов */
#indicators-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #3f3f3f;
}

/* Элементы-индикаторы */
.indicator {
  width: 100px;
  height: 100px;
  background-color: #232323;; /* Временный цвет для наглядности */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Цвет текста */
  font-size: 1.5em; /* Размер текста */
  font-family: 'Kroftsmann';
  clip-path: polygon(15% 5%, 85% 5%, 100% 28%, 85% 95%, 15% 95%, 0% 28%);
  
  cursor: crosshair;
}

/* Текстовое поле для таймера обратного отсчёта */
#countdown-timer {
  font-size: 2em; /* Размер шрифта для таймера */
  color: white;
  background-color: brown; /* Временный цвет для наглядности */
  padding: 10px;
  margin-top: 20px; /* Отступ сверху */
}

.clickable{
  background-color: blue;
}

.succlicked{
  animation: indPosFade 1.5s ease-in-out forwards;
}

@keyframes indPosFade {
  0% {
    background-color: rgb(84, 210, 84);
  }

  66% { 
    background-color: rgb(84, 210, 84);
  }

  100%{
    background-color: #232323;
    animation: none;
  }
} 

.active{ /*Анимация неудачно нажатого индикатора*/
  animation: indNegFade 1.5s ease-in-out forwards;
}

@keyframes indNegFade {
  0% {
    background-color: red;
  }

  66% { 
    background-color: red;
  }

  100%{
    background-color: #232323;
    animation: none;
  }
} 

.score-text{
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px 20px 0px 0px;
  color: white;
  font-size: calc(24px + 1vmax);
  font-family: 'Shket';
  justify-content: right;
  padding: 5px 1em 5px 1em;

  background-color: black;
}

.score-difference{
  top: 0;
  right: 0;
  margin: calc(20px + 5px + 24px + 1vmax) 20px 0px 0px;
  text-align: right;
}

.score-animation{
  animation: scoreFade 2s ease-in-out forwards;
}

@keyframes scoreFade {
  0% {
    opacity: 1;
  }

  50% { 
    opacity: 1;
  }

  100%{
    opacity: 0;
  }
} 

.scoreplus{
  color: rgb(84, 210, 84);
}

.scoreminus{
  color: rgb(210, 84, 84);
}