#main-menu{
    display: flex; 
    flex-direction: column;
    font-size: 10vmin;
  
    gap: 10px;
  }
  
  #title{
    font-size: 1em;
    height: 1em;
    font-family: 'Kroftsmann';
    background-image: linear-gradient(#89e3ff, #19b8e8);
    background-clip: text;
    color: transparent;
    text-align: center;
    line-height: 100%;
    padding: 10px;
    caret-color: blue;
    caret: 5px;
    caret-shape: underscore;
  }

  div[contenteditable="true"]:focus {
    outline: 1px solid blue; 
    animation: change-text-active 1s infinite;
  }

@keyframes change-text-active {
  0% {
    outline-color: transparent;
  }

  50% { 
    outline-color: blue;
  }

  100%{
    outline-color: transparent;
  }
} 
  
  .main-menu-button{
    font-size: 0.6em;
    color: white;
    font-family: 'Shket';
    font-weight: 400;
    border: none;
    background-color: transparent;
  }

  .unavailable-button{
    color: #b8b8b8;
    pointer-events: none;
  }
  
  .main-menu-button:hover{
    text-decoration-line: underline overline;
  }
  
  #instruction-screen {
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      gap: 10px;
    }
    
    #instruction-nav { /* Контейнер для всего меню инструкции */
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: calc(95vh - 120px);
    }
    
    .instruction-nav-btn {    /* Кнопки со стрелками */
      /*background-color: red;*/
      background-color: transparent;
      border-style: solid;
      border-width: 1px;
      border-color: white;
      color: white;
      padding: 10px;
      margin: 10px;
      border: none;
      cursor: pointer;
      font-weight: 900;
      font-family: 'Kroftsmann';
      font-size: medium;
    }
    
    #instruction-container { /* Контейнер для картинки и текста инструкции */
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .instruction-menu-text{
      color: white;
    }
    
    #instruction-text {    /* Текстовый блок */
      padding: 10px 0 10px 0;
      text-align: center;
      width: 100%;
    }
    
    #instruction-image {    /* Изображение */
      min-width: 300px;
      min-height: 200px;
      width: 100%;
    }
  
    #back-to-menu-from-instructions, #back-to-menu-from-scoreboard, #from-end-to-menu-button{
      position: absolute;
      left: 0;
      top: 0;
      margin: 10px;
      color: white;
      border-color: white;
      font-size: calc(24px + 1vmax);
      font-family: 'Shket';
      border-width: 3px;
      border-radius: 10%;
  
      background-color: transparent;
    }

    #continue-screen{
      display: flex; 
      flex-direction: column;
      font-size: 10vmin;
    
      gap: 10px;
    }
  
    #transition-screen, #game-over-screen{
      font-size: 10vmin;
      color: #fff;
      font-family: 'Kroftsmann';
      display: flex;
      flex-direction: column;
      text-align: center;
      line-height: 10vmin;
    }
  
    #transition-comment, #transition-next, #total-game-score{
      font-size: 0.5em;
      line-height: 1em;
      color: #fff;
      font-family: 'Shket';
      padding: 2vh 12vw 0 12vw;
      text-align: center;
    }