.container {
  display: flex;
  height: 95%;
  width: 95%;
}

.content-div {
  padding: 5px; 
  overflow: auto; 
  min-height: 400px; /* Пример минимальной высоты */

  width: 100%;
  height: auto;

  display: flex;  flex-direction: column;

  font-family: Arial, sans-serif;
  text-align: center;
  background-color: white;
}

.warning {
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #FFF;
  font-family: 'Kyiv Type';
  background: #0D0D0D;
  width: 100vw;
  height: 100vh;
}